In [2]:
import psycopg2
from getpass import getpass

In [13]:
conn = psycopg2.connect(dbname = 'Carsshop', user = 'postgres',
                       password = '1324', host = 'localhost')

In [16]:
cursor = conn.cursor()

cursor.execute('SELECT * FROM car')
records = cursor.fetchall()

In [17]:
records

[(1,
  'BMW                 ',
  'X5                  ',
  'patrol              ',
  Decimal('3.0')),
 (2,
  'Toyota              ',
  'Camry               ',
  'patrol              ',
  Decimal('3.5')),
 (3,
  'OKA                 ',
  'VAZ-1111            ',
  'diesel              ',
  Decimal('1.2'))]

In [7]:
import pandas as pd

In [18]:
select_query = "SELECT * FROM car"
column_names = ["id", "brend", "model", "type", "vol"]

try:
    cursor.execute(select_query)
except (Exception, psycopg2.DatabaseError) or error:
    print("Error: %s" % error)
    cursor.close

tupples = cursor.fetchall()
cursor.close()


df = pd.DataFrame(tupples, columns=column_names)

In [19]:
df

   id                 brend                 model                  type  vol
0   1  BMW                   X5                    patrol                3.0
1   2  Toyota                Camry                 patrol                3.5
2   3  OKA                   VAZ-1111              diesel                1.2